extends ../layouts/application.pug

block header
  = t('views.statuses.edit.editing')

block content
  +formFor()(action=route('patchStatus', { id: status.id }) method='post')
    input(name='_method' type='hidden' value='patch')
    +input(status, 'name', t('views.statuses.name'), errors)(type="text")
    +submit(status)(value=t('views.statuses.actions.edit'))
