extends ../layouts/application.pug

block header
  = t('views.labels.edit.editing')

block content
  +formFor()(action=route('patchLabel', { id: label.id }) method='post')
    input(name='_method' type='hidden' value='patch')
    +input(label, 'name', t('views.labels.name'), errors)(type="text")
    +submit(label)(value=t('views.labels.actions.edit'))
